.logo{
    width:165px;
    height:45px;
}
.dropdown1{
    width:110px;
    border-radius: 8px;
    background: var(--glass-col, rgba(128, 128, 128, 0.20));
}
.dropdown2{
    width:150px;
    border-radius: 8px;
    background: var(--glass-col, rgba(128, 128, 128, 0.20));
}

.heightdropdown1{
height:80px;
}
.arrowNav{
    height:25px;
    width:30px;
}
.logo{
    width:160px;

}
.properties{
    width:200px;
 
}
.resale{
    width:100px;

}
.aboutUs{
    width:140px;

}
.learn{
    width:130px;

}
.clubAccess{
height:40px;
}

