.image-description1 {
    border-radius: 20px;
     width: 240px;
     height: 270px;
     overflow:hidden;

   }
   
   .image-description1:hover {
   border: 1px solid var(--gradient-3, #D328A7);
   box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
   }
