
.name{
  font-size:20px;
  margin-top:0.5rem;
}


.help:hover .name{
  transition:0.5s;
  font-size:18px;

}

.help:hover .name{
  margin-top:-0.5rem;
}

.image {
  height: 55px;
  border-radius: 0px 0px 8px 8px;
  background: var(--black-40, rgba(0, 0, 0, 0.40));
}

.linkedIn,
.position {
  width: 0;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}
.position{
  width:10px;
  height:10px;
}
.linkedIn{
  height:10px;
  width:10px;
}

/* Show the .position and .linkedIn elements when .image is hovered */
.help:hover .position,
.help:hover .linkedIn {
  width: 20px; /* Adjust the desired width */
  height: 20px; /* Adjust the desired height */
  opacity: 1;
}
