.features {
  width: 580px;
  height: 155px;
  cursor: pointer;
  border-radius: 8px;
  background:;
  transition: background 2s; /* Transition the background color over 2 seconds */
}

.featurePic {
  width: 120px;
  height: 50px;
  border: 1px solid white;
  border-radius: 8px;
  overflow: hidden;
}

.features:hover {
    border-radius: 8px; /* Adjust the border-radius as needed */
  background: linear-gradient(95deg, rgba(211, 40, 167, 0.10) 34.45%, rgba(199, 68, 179, 0.09) 43.31%, rgba(199, 68, 179, 0.09) 56.6%, rgba(120, 249, 255, 0.05) 100%);
}
