.image-description {
 border-radius: 20px;
  width: 240px;
  height: 270px;
  overflow:hidden;
  transition: width 0.8s, height 0.3s;
  position: relative;  /* Add smooth transition for width and height changes */
}

.image-description:hover {
border: 1px solid var(--gradient-3, #D328A7);
box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
  width: 250px; /* Increase the width on hover */
  height: 320px; /* Increase the height on hover */
}
.description {
  display: none;
  transition: transform 1s, opacity 0.5s;
  transform: translateY(100%);
}

.image-description:hover .description {
  display: block;
  transform: translateY(0);
  opacity: 1;
}
.imageTradable{
height:190px;
width:190px;

}
.descTradable{
  width:240px;
}