.quoteCard{
width:480px;
height:210px;
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
background: var(--glass-col, rgba(128, 128, 128, 0.20));
margin-left:60px;
}
.quoteCard:hover {
border:.1px solid #D328A7;
background: linear-gradient(95deg, rgba(211, 40, 167, 0.05) 34.45%, rgba(199, 68, 179, 0.05) 43.31%, rgba(199, 68, 179, 0.05) 56.6%, rgba(120, 249, 255, 0.03) 100%);
color:white;
}
.quoteImage{
width:120px;
height:120px;
margin-left:-50px;
border-radius:50px;
overflow:hidden;
}
.quoteQuote{
width:380px;
height:120px;

}