.leftPaneCollection{
width:310px;
background: var(--white, #FFF);
box-shadow: 0px 30px 70px 0px rgba(128, 128, 128, 0.25);
}
.ButtonCollect{
color:white;
border-radius: 4px;
background: var(--pink, #D328A7);
}

.ButtonBeforeCollect{
color:black;
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
}
.propertyCollectButton{
color:white;
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
border-radius: 8px;
background: var(--blue, #091526);

}
.propertyCollectButtonBefore{
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
}
.cityButton{
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
}
.BuilderButton{
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
}
.clickedButton{
    color:white;
border-radius: 8px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
border-radius: 8px;
background: var(--blue, #091526);
}
.checkBox{
width:20px;
height:20px;
border-radius: 3px;
background: var(--glass-col, rgba(128, 128, 128, 0.20));
}
.checked{
border-radius: 3px;
background: var(--blue, #091526);
}