/* .navbar{
    border: 1px solid var(--windows-stroke-glass-specular, rgba(255, 255, 255, 0.40));
    background: linear-gradient(90deg, rgba(23, 23, 55, 0.40) 0%, rgba(10, 21, 40, 0.40) 100.52%);
    background-blend-mode: luminosity;
    backdrop-filter: blur(50px);
} */
.parent{
    background: var(--BG-color, #091526);
}

.styleBorder{
border-radius: 8px;
border: 1px solid var(--gradient-1, #D328A7);
}
.styleBorder2{
border-radius: 16px;
border: 1px solid var(--gradient-1, #D328A7);
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);
}

.stepRadius{
border-radius: 16px;
border: 1px solid var(--gradient-3, #D328A7);
box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
}
.shadowy{
    border-radius: 16px;
background: #091526;

/* drop shadow 1 */
box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
}
.shadowyMiddle{
    border-radius: 16px;
    border: 1px solid var(--gradient-1, #D328A7);
    background: #091526;
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
}
.shad{
    border-radius: 16px;
border: 1px solid var(--gradient-2, #D328A7);
background: var(--mirror-look, rgba(128, 128, 128, 0.20));
}
.premiumShadow{
    border-radius: 16px;
background: var(--glass-col, rgba(128, 128, 128, 0.20));

/* drop shadow 1 */
box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
}

.form-input::placeholder {
  color: white; /* Change the color to white */
}
shadowFaq{

border-radius: 8px;
border: 1px solid var(--gradient-1, #D328A7);
}
.shadoww {
    border: 1px solid white;
    z-index: 99;
    cursor: pointer;
    border-radius: 20px;
    background: var(--glass-col, rgba(128, 128, 128, 0.20));
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.76);
    transition: width 2s ease, height 2s ease; /* Add height to the transition property */
}

.info {
    border: 1px solid red;
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-150px);
    opacity: 0;
    transition: 1s;
}

.helper:hover > .info {
    opacity: 1;
    transform: translateY(-5px);
}

.helper:hover > .shadoww {
    height: 100px;
    width: 300px;
    transition: width 2s ease, height 2s ease; /* Add height to the transition property */
}


.scrollText{
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 1s;
}
.scrollContainer:hover>.scrollText{
    opacity: 1;
    transform: translateY(-5px);
}
.enlist{
    cursor:pointer;
}

.blurr{
border-radius: 16px;
background: radial-gradient(51.49% 50.59% at 50% 50%, rgba(141, 75, 177, 0.59) 10.73%, rgba(167, 5, 194, 0.00) 100%);

}
.faq:hover{
    border-radius: 8px; /* Adjust the border-radius as needed */
  background: linear-gradient(95deg, rgba(211, 40, 167, 0.10) 34.45%, rgba(199, 68, 179, 0.09) 43.31%, rgba(199, 68, 179, 0.09) 56.6%, rgba(120, 249, 255, 0.05) 100%);

}
.taradable{
    height:430px;
}

.residential {
width:300px;
height:340px;
}
.commercial{
margin-right:-2rem;
height:290px;
width:200px;

}
.plots{
margin-left:-1.4rem;
height:290px;
width:200px;
}

.button{
height:40px;

}
.investImage{
margin-top:-7rem;
height:800px;
}
.middleContainer{
    width:1400px;
}