.imageCareers{
width:800px;
height:300px;
}
.headingCareers{
width:1100px;
}
.topContainer{
    background: linear-gradient(95deg, rgba(211, 40, 167, 0.10) 34.45%, rgba(199, 68, 179, 0.09) 43.31%, rgba(199, 68, 179, 0.09) 56.6%, rgba(120, 249, 255, 0.05) 100%);
}
.contentCareers{
width:1050px;
}
.navigateCareer{
width:1100px;
}
.horizontalLines{
width:170px;
}
.positionsCareer{
width:170px;
cursor:pointer;
}
.colorCareers{
height:5px;
}
.careerColor {
    background: linear-gradient(95deg, #D328A7 5.47%, rgba(120, 249, 255, 0.50) 100%);
}
.openingsContainer {
width:1100px;
}
.lifeAtPropFTXCareer{
width:1100px;
}

.lifePropFTXDesc{
width:1100px;
}
.lifePropFTXDesc1{
width:1200px;
}
.imageSection{
width:1100px;
}
.rightTopImage{
width:700px;
height:393px;
}
.leftTopImage{
width:400px;
height:393px;
}
.imageTextCareer{
width:30px;
height:100px;
}
.BottomImage{
height:200px;
width:366.66px;
border-radius: 8px;
background:#D9D9D9;
}