.HeadingBlogDetail{
width:900px;
}
.logoBlogDescription{
height:30px;
width:30px;
}
.blogDetailImage {
width:1125px;
}
.contentBlogDetail{
width:1125px;
}
.MiscBlogDetail{
width:1125px}

.textBlogDetail{
width:1100px;
}
.headingBlogDetail{
width:1125px;
}
.moreBlogDetail{
width:1200px;
}
.shareIconsBlog{
height:30px;
}
.socialShare{
width:100px;
}
.sharing-options{
width:180px;
}
.liked{
    background: var(--glass-col, rgba(128, 128, 128, 0.20));
}
.disliked{
    background: var(--glass-col, rgba(128, 128, 128, 0.20));
}