.HeadingBlogDetail{
width:900px;
}
.logoBlogDescription{
height:30px;
width:30px;
}
.blogDetailImage {
width:1125px;
}
.contentBlogDetail{
width:1125px;
}
.MiscBlogDetail{
width:1125px}

.textBlogDetail{
width:1100px;
}
.headingBlogDetail{
width:1125px;
}
.moreBlogDetail{
width:1200px;
}