.aboutLifeCard{
width:480px;
height:180px;
border-radius: 16px;
border: 1px solid var(--glass-col, rgba(128, 128, 128, 0.20));
background: var(--white, #FFF);
}
.aboutLifeCard:hover{
    border:.1px solid #D328A7;
background: var(--glass-col, rgba(128, 128, 128, 0.20));
color:white;
}